@import '/src/styles/variables.scss';
@import '/src/styles/mixin.scss';

.iconCover {
  @include flex(null, center, center);
  width: 2rem;
  height: 2rem;
  background-color: $white;
  border-radius: $radius-lg;
  cursor: pointer;
  .icon {
    width: 2rem;
    height: 2rem;
    fill: $black;
  }
}
.switchBtn {
  text-align: end;
}

.kebobBtn {
  width: 100%;
  text-align: start;
  border: none;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
}
