@import '/src/styles/variables.scss';

.container {
  width: 100%;
  background-color: $ppt-grey;
  min-height: 100vh;
  .cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
  }
}
.divider {
  border-bottom: 1px solid $cool-grey2;
}
