@import 'variables.scss';

// responsive
@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 768px) and (max-width: 1239px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1240px) {
    @content;
  }
}

// input, button
@mixin button($border-color: #4c61ff, $bg-color: #f2f9ff, $color: #4c61ff) {
  border: solid 0.1rem $bg-color;
  color: $color;
  background-color: $bg-color;
  outline: none;
  transition: border 0.2s ease-in-out;
  &:hover {
    border: solid 0.1rem $border-color;
  }
  @content;
}

@mixin button-nomal($border-color: #ececfb, $bg-color: #ffffff, $color: #040404) {
  background-color: $bg-color;
  border: 0.1rem solid $bg-color;
  color: $color;
  transition: border 200ms ease-in-out;
  &:hover {
    border: 0.1rem solid $border-color;
  }
  @content;
}

@mixin input($border-color: #ececfb, $bg-color: #ffffff, $hover-border-color: #4c61ff) {
  background-color: $bg-color;
  border: 1.5px solid $border-color;
  outline: none;
  transition: border 0.2s ease-in-out;
  &:hover {
    border: 1.5px solid $hover-border-color;
  }
  &:focus {
    border: 1.5px solid $hover-border-color;
  }
  @content;
}

@mixin position($p: absolute, $t: 0, $l: 0, $r: 0, $b: 0) {
  position: $p;
  top: $t;
  left: $l;
  right: $r;
  bottom: $b;
  @content;
}

@mixin flex($d: row, $jc: center, $ai: null, $fw: null) {
  display: flex;
  flex-direction: $d;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $fw;
  @content;
}
