$jober-blue: #4c61ff;
$highlight-blue: #f2f9ff;
$ppt-grey: #f7f8fa;
$cool-grey1: #e0e0e0;
$cool-grey2: #ececfb;
$cool-grey3: #3b4753;
$bg-main: #f7f8fa;
$bg-jober-blue: #4c61ff;
$base-white: #ffffff;
$base-black: #040404;

// box-shadow
$box-shadow-large: 0px 1.1rem 2.2rem 0px rgba(0, 0, 0, 0.3);
$box-shadow-medium: 0rem 0rem 0.5rem 0.25rem rgba(0, 0, 0, 0.173);
$box-shadow-small: 0rem 0rem 0.5rem 0.1rem rgba(0, 0, 0, 0.089);
