@import '/src/styles/variables.scss';
@import '/src/styles/mixin.scss';

.container {
  height: 100%;
  .formBox {
    @include flex(column, null);
    width: 100%;
    height: 100%;
    .forms {
      width: 100%;
      flex: 1;
      padding: 0 2rem;
      h3 {
        margin-bottom: 1rem;
      }
      input {
        @include input(#fff, $gray-2);
        width: 100%;
        height: 5rem;
        border-radius: $radius;
      }
      .treeInput {
        margin-bottom: 3rem;
      }
    }
  }
}
