@import '/src/styles/variables.scss';
@import '/src/styles/utils.scss';
@import '/src/styles/mixin.scss';

.container {
  @include flex(column, null);
  height: 100%;
  .blockViewer {
    padding: 0 2rem 8rem 2rem;
    flex: 1;
    .blockCover {
      display: block;
      width: 100%;
      box-shadow: $box-shadow-small;
      border-radius: $radius;
      box-sizing: border-box;
      background-color: transparent;
      border: none;
      padding: 0;
      margin-bottom: 1.25rem;
      cursor: pointer;
    }
    .selected {
      box-sizing: content-box;
      border: 3px solid $jober-blue;
      height: calc(auto - 5px);
    }
  }
}
