@import '/src/styles/variables.scss';
@import '/src/styles/mixin.scss';
.container {
  @include flex(column, null);
  height: 100%;
  h2 {
    margin: 0;
  }
  .templateSettingContainer {
    border-bottom: 2px solid $gray-light-1;
    padding: 1.25rem;
  }
  .userSettingContainer {
    flex: 1;
    padding: 1.25rem;
    h2 {
      margin-top: 1.25rem;
    }
  }
  .inputCover {
    padding-top: 1.25rem;
    p {
      margin: 0;
      padding-bottom: 0.5rem;
    }
    .split {
      @include flex(row, space-between);
    }
  }
}
