@import '/src/styles/variables.scss';
@import '/src/styles/mixin.scss';

.container {
  @include flex(column, null);
  padding: 1.25rem;
  .searchBox {
    @include flex(row, center, center);
    .select {
      margin-right: 1.25rem;
    }
  }
  .btn {
    width: 100%;
    background-color: $jober-blue-light;
    color: $jober-blue;
    border: none;
    padding: 0.75rem;
    border-radius: 0.5rem;
    margin-top: 1.25rem;
    cursor: pointer;
  }
}
