@import '/src/variables.scss';
@import '/src/utils.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.25rem;
  .searchBox {
    display: flex;
    align-items: center;
    justify-content: center;
    .select {
      margin-right: 1.25rem;
    }
  }
  .btn {
    width: 100%;
    background-color: $highlight-blue;
    color: $jober-blue;
    border: none;
    padding: 0.75rem;
    border-radius: 0.5rem;
    margin-top: 1.25rem;
    cursor: pointer;
  }
}
