.actionNavigation {
  height: 5.9375rem;
  display: flex;
  padding: 0 1.25rem 0 1.25rem;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.actionNavigation button {
  width: 4.625rem;
  height: 4.625rem;
  border: none;
  outline: none;
  display: flex;
  cursor: pointer;
  transition: 0.3s;
  align-items: center;
  border-radius: 0.625rem;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border: solid 0.0625rem #eeeeee;
  box-shadow: 0rem 0rem 0.5rem 0.1rem rgba(0, 0, 0, 0.089);
  &.disable {
    cursor: default;
  }
}

.icon {
  width: 3.75rem;
  height: 3.75rem;
  display: flex;
  font-size: 2.25rem;
  color: #e2e6ef;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  margin-top: 0.625rem;
  align-items: center;
  justify-content: center;
}

// active 스타일이 적용되지 않아 !important 사용
.active {
  font-weight: 500;
  color: white !important;
  border: solid 0.0625rem #3b51fe !important;
  background-color: #4c61ff !important;
  box-shadow: 0rem 0rem 0.5rem 0.25rem rgba(0, 0, 0, 0.173) !important;
}

#btnTitle {
  display: flex;
  color: #aeaeae;
  margin-top: 0.625rem;
  align-items: center;
  justify-content: center;
}

// activeText 스타일이 적용되지 않아 !important 사용
.activeText {
  display: flex;
  font-weight: 500;
  justify-content: center;
  color: rgb(0, 0, 0) !important;
}
