@import '/src/variables.scss';
.conatiner {
  display: flex;
  padding-top: 20px;
  .searchBar {
    flex: 1;
    margin-right: 20px;
    height: 42px;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    input {
      &::placeholder {
        color: #d8d8d8;
      }
    }
  }
  .btn {
    width: 60px;
    background-color: $cool-grey2;
    border: 1px solid $cool-grey1;
    border-radius: 0.2rem;
    white-space: nowrap;
    cursor: pointer;
  }
}
