.title {
  font-size: 2rem;
}

.description {
  font-size: 1.2rem;
  color: grey;
}

.layout {
  max-width: 750px;
  margin: auto;

  .item {
    z-index: 11;
    background-color: white;
    border: 0px solid rgb(0, 0, 0);
    padding: 0;
  }
}
