@import '/src/styles/variables.scss';
@import '/src/styles/mixin.scss';

.container {
  width: 100%;
  height: auto;
  display: flex;
  .formBox {
    @include flex(column, space-between);
    width: 100%;
    .forms {
      padding: 1.25rem 2rem;
      h3 {
        margin: 1.75rem 0;
      }
    }
    .thumbnailTitle {
      margin-top: 2rem;
    }
  }
  .thumbnailImg:hover {
    .minus {
      display: flex;
      color: #ff0606;
    }
  }
  .inputbox {
    position: relative;
    .input {
      height: 4rem;
    }
    .delTitle {
      @include position;
      @include flex(row, null, center);
      width: 3rem;
      cursor: pointer;
      background-color: transparent;
      border-color: transparent;
      svg {
        color: #aeb9d1;
      }
    }
  }
}
