.container {
  display: flex;
  max-width: 2.5rem;
  max-height: 2.5rem;
  overflow: hidden;
  border-radius: 0.25rem;
}
.logoStyle {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    max-width: 1.7rem;
    max-height: 1.7rem;
    overflow: hidden;
    border-radius: 0.25rem;
  }
  .logoStyle {
    display: flex;
    width: 100%;
  }
}
