@import '/src/variables.scss';

.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 1rem;
  .caption {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    background-color: $base-white;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    p {
      margin: 0;
    }
  }
}
.edit {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.view {
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 1rem;
}
.cover {
  position: absolute;
  z-index: 2;
  width: 80%;
  height: 80%;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
