@import '/src/utils.scss';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
  position: relative;
  align-items: start;
  justify-content: center;
  .view {
    width: 100%;
    display: flex;
  }
  .edit {
    width: 80%;
    height: 80%;
  }
  .editorBoxr {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    .editorContainer {
      width: 100%;
      overflow-x: auto;
      padding-left: toRem(15px);
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.alignCenter {
  div {
    text-align: center;
  }
}
.alignLeft {
  div {
    text-align: left;
  }
}
.alignRight {
  div {
    text-align: right;
  }
}
