@import '/src/variables.scss';
.container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .menu {
    // * .App.scss에서 block hover시 .kebob을 다루고 있습니다!
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    .iconCover {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border: none;
      background-color: transparent;
      cursor: pointer;
      .inactiveIcon {
        width: 1rem;
        height: 1rem;
        fill: transparent;
      }
      .activeIcon {
        width: 1rem;
        height: 1rem;
        fill: black;
      }
    }
  }
  .link {
    position: absolute;
    bottom: 0; // border 사이즈 포함 -2px
    width: 100%;
    height: 2rem;
    border-bottom: 3px solid $cool-grey3;
    background-color: $base-black;
    border-radius: 0 0 1rem 1rem;
    color: white;
    text-align: start;
    padding-left: 1rem;
    line-height: 2rem;
    z-index: 2;
  }
}

.portalCover {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: transparent;
}
