@import '/src/variables.scss';
.container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  .menu {
    // * .App.scss에서 block hover시 .kebob을 다루고 있습니다!
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    .iconCover {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border: none;
      background-color: transparent;
      .inactiveIcon {
        width: 1rem;
        height: 1rem;
        fill: transparent;
      }
      .activeIcon {
        width: 1rem;
        height: 1rem;
        fill: black;
        cursor: pointer;
      }
    }
  }
  .link {
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2rem;
    background-color: $base-black;
    border-radius: 0 0 1rem 1rem;
    color: white;
    text-align: start;
    padding-left: 1rem;
    line-height: 2rem;
    z-index: 2;
  }
}

.kebobBtn {
  width: 100%;
  text-align: start;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
