@import '/src/styles/variables.scss';
@import '/src/styles/mixin.scss';

.container {
  max-width: 50rem;
  margin: auto;
  padding: 0 1rem;
  .title {
    font-size: 3rem;
  }
  .label {
    margin-top: 1rem;
    padding-left: 0.5rem;
  }
  .input {
    @include input($white, $white, $jober-blue);
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
  }
  .submit {
    @include button($jober-blue, $jober-blue-light, $jober-blue);
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
  }
  .link {
    @include button($jober-blue, $jober-blue-light, $jober-blue);
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
    a {
      color: $jober-blue;
    }
  }
}
