@import '/src/variables.scss';

.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 1001; // antd Drawer z-index 1001 입니다
  background-color: rgba(0, 0, 0, 0.3);
  .cover {
    width: 100%;
    max-width: 500px;
    padding: 1.25rem;
    background-color: $base-white;
    .previewCover {
      width: 100%;
      max-width: 500px;
      img {
        width: 100%;
        max-width: 500px;
      }
    }
    .confirmBtn {
      width: 100%;
      padding: 1.25rem;
      border: none;
      background-color: $highlight-blue;
      color: $jober-blue;
      cursor: pointer;
    }
  }
}
