@import '/src/styles/variables.scss';
@import '/src/styles/mixin.scss';

.container {
  @include flex(column);
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: $radius-lg;
  .contentCover {
    flex: 1;
    .cover {
      display: flex;
      height: 100%;
      padding: 1rem;
      .img {
        width: 100%;
        height: 100%;
        max-width: 3.2rem;
        max-height: 3.2rem;
        object-fit: cover;
        @include mobile {
          display: flex;
          width: 2.5rem;
          height: 2.5rem;
        }
      }
      .contentBox {
        @include flex(column, null, null);
        margin-left: 1.25rem;
        text-align: start;
        h3 {
          @include flex(column, null, null);
          font-size: $text-p;
          margin: 0;
        }
        p {
          display: flex;
          margin-top: 1rem;
          color: $gray-2;
          font-size: $text-p-sm;
          @include mobile {
            display: none;
          }
        }
      }
    }
  }
  .direct,
  .preview {
    @include flex(null, space-between);
    color: white;
    outline: none;
    cursor: pointer;
    height: 3.125rem;
    background-color: $black;
    border: 0;
    padding: 0;
    a {
      @include flex(null, null, center);
      height: 100%;
      padding-left: 1.25rem;
    }
  }
  .previewBtnCover {
    @include flex(null, flex-end);
    width: 100%;
    background-color: $gray-dark;
    .preview {
      display: inline-block;
      text-align: end;
      background-color: $gray-dark;
      padding-right: 1.25rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .contentBox {
    p {
      display: none;
    }
  }
  .direct,
  .preview {
    @include flex(null, null, center);
    height: 100%;
    padding-left: 1.25rem;
  }
}
