@import '/src/styles/variables.scss';
@import '/src/styles//mixin.scss';

.container {
  @include flex;
  background-color: $white;
  .cover {
    @include flex(null, null, center);
    width: 100%;
    min-height: 4rem;
    border-bottom: 1px solid $gray-light-1;
  }
}
