@import '/src/styles/variables.scss';
@import '/src/styles/mixin.scss';

.userProfile {
  @include flex(null, center, center);
  width: 8rem;
  height: 8rem;
  background-color: #4c61ff;
  border-radius: 50%;
  margin-top: 3rem;
  @include tablet {
    width: 7rem;
    height: 7rem;
  }
  img {
    width: 3rem;
    height: 3rem;
    @include tablet {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
