@import '/src/styles/utils.scss';
@import '/src/styles/mixin.scss';

.tabContainer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-top: 2rem;
  flex-direction: column;
  gap: 1rem;
  .tabButton {
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 4px;
    background-color: #e2e6ef;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .topWrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-bottom: 1px solid #a2a4af;
    padding-bottom: 2rem;
    .homeButton {
      background-color: #3b4753;
      border: 1px solid #e2e6ef;
      img {
        width: 2rem;
        height: 2rem;
      }
    }
    .ownerButton {
      background-color: #4c61ff;
      color: #fff;
      position: relative;
      @include mobile {
        font-size: 1.2rem;
      }
    }
  }
  .userButton {
    background-color: #e2e6ef;
    color: #aeb9d1;
    &:first-child {
      margin-top: 2rem;
    }
    @include mobile {
      font-size: 1.2rem;
    }
  }
  .plusButton {
    background-color: #3b4753;
    border: 1px solid #e2e6ef;
    img {
      width: 2rem;
      height: 2rem;
    }
  }
}
