@import '/src/styles/utils.scss';
@import '/src/styles/mixin.scss';

.tabContainer {
  @include flex(column, null, center);
  width: 100%;
  box-sizing: border-box;
  padding-top: 2rem;
  gap: 1rem;
  .tabButton {
    @include flex(null, center, center);
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 4px;
    background-color: #e2e6ef;
    box-sizing: border-box;
  }
  .topWrap {
    @include flex(column);
    gap: 2rem;
    border-bottom: 1px solid $gray-2;
    padding-bottom: 2rem;
    .homeButton {
      background-color: $gray-dark;
      border: 1px solid $gray;
      img {
        width: 2rem;
        height: 2rem;
      }
    }
    .ownerButton {
      background-color: $jober-blue;
      color: $white;
      position: relative;
      @include mobile {
        font-size: 1.2rem;
      }
    }
  }
  .userButton {
    background-color: $gray;
    color: $gray-2;
    &:first-child {
      margin-top: 2rem;
    }
    @include mobile {
      font-size: 1.2rem;
    }
  }
  .plusButton {
    background-color: $gray-dark;
    border: 1px solid $gray;
    img {
      width: 2rem;
      height: 2rem;
    }
  }
}
