@import '/src/variables.scss';

.container {
  min-height: 199px;
  margin: 20px 0;
  background-color: $base-white;
  border-radius: 0.5rem;
  .profile {
    padding: 18px 16px;
  }
  .buttonCover {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 18px 18px 18px;
    button {
      width: 100%;
      max-width: 322px;
      height: 60px;
      border-radius: 0.5rem;
    }
    .mySpaceBtn {
      border: none;
      background-color: $highlight-blue;
      color: $jober-blue;
      margin-bottom: 1rem;
      cursor: pointer;
    }
    .mySpaceBtn:focus {
      border: 1px solid $jober-blue;
    }
    .addSpaceBtn {
      border: 1px solid $cool-grey2;
      background-color: $base-white;
      height: 32px;
    }
  }
}
