.container {
  background-color: #e2e6ef;
}

.disabledButton {
  border: 0;
  outline: 0;
  width: 100%;
  display: flex;
  transition: 0.3s;
  height: 4.75rem;
  color: #aeb9d1;
  font-size: 1.25rem;
  cursor: not-allowed;
  align-items: center;
  justify-content: center;
  background-color: #e2e6ef;
}

.activeButton {
  border: 0;
  outline: 0;
  width: 100%;
  display: flex;
  transition: 0.3s;
  height: 4.75rem;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.25rem;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}
