@import '/src/styles/variables.scss';
@import '/src/styles/utils.scss';
@import '/src/styles/maxin.scss';
.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  .blockViewer {
    padding: 0 1.25rem toRem(80px) 1.25rem;
    flex: 1;
    .blockCover {
      display: block;
      width: 100%;
      box-shadow: 0rem 0rem 0.5rem 0.1rem rgba(0, 0, 0, 0.089);
      border-radius: 1.1rem;
      margin-bottom: 1.25rem;
      box-sizing: border-box;
      background-color: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
    }
    .selected {
      box-sizing: content-box;
      border: 3px solid $jober-blue;
      height: calc(auto - 5px);
    }
  }
  .formBtn {
    min-height: toRem(76px);
    @include tablet {
      & {
        min-height: toRem(60px);
      }
    }
  }
}
