@import '/src/variables.scss';

.container {
  display: flex;
  background-color: $base-white;
  padding: 0;
  .cover {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 4rem;
    border-bottom: 1px solid $cool-grey1;
  }
}

.userProfile {
  width: 80px;
  height: 80px;
  background-color: #4c61ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 390px) {
  .userProfile {
    width: 70px;
    height: 70px;
    img {
      width: 25px;
      height: 25px;
    }
  }
}
