@import '/src/utils.scss';

.tabContainer {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-top: toRem(20px);
  flex-direction: column;
  gap: 10px;
  .tabButton {
    width: toRem(52px);
    height: toRem(52px);
    border-radius: 4px;
    background-color: #e2e6ef;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .topWrap {
    display: flex;
    flex-direction: column;
    gap: toRem(10px);
    border-bottom: 1px solid #a2a4af;
    padding-bottom: toRem(10px);
    .homeButton {
      background-color: #3b4753;
      border: 1px solid #e2e6ef;
      img {
        width: toRem(20px);
        height: toRem(20px);
      }
    }
    .ownerButton {
      background-color: #4c61ff;
      color: #fff;
      position: relative;
    }
  }
  .userButton {
    background-color: #e2e6ef;
    color: #aeb9d1;
    &:first-child {
      margin-top: toRem(20px);
    }
  }
  .plusButton {
    background-color: #3b4753;
    border: 1px solid #e2e6ef;
    img {
      width: toRem(20px);
      height: toRem(20px);
    }
  }
}

@media screen and (max-width: 390px) {
  .ownerButton {
    font-size: 12px;
  }
  .userButton {
    font-size: 12px;
  }
}
