@import './variables.scss';
@import './utils.scss';

body {
  width: 100%;
  margin: 0;
}

html,
body {
  box-sizing: border-box;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

iframe {
  border: 0;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
}
h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
h3 {
  font-size: 1.25rem;
  font-weight: 700;
}
li {
  padding: 0.2rem 0;
}
/* * SpaceMode 타입에 따라서 Blocks에서 사용되는 클레스 * */
.view {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  z-index: 1;
}
.edit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  z-index: 1;
}

.cover {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 80%;
  border-radius: 1rem;
  cursor: pointer;
}

.kebobMenu {
  width: 2.532rem;
  height: 2rem;
  background-color: white;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  transition: all 200ms ease;
}
.activeBlock {
  z-index: 24 !important;
  .react-resizable-handle {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: $cool-grey3;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 0.5rem;
    z-index: 5;
  }
  .react-resizable-handle::after {
    width: toRem(10px);
    height: toRem(10px);
    background-color: $cool-grey3;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
  }
}

@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 14px;
  }
}
@media screen and (max-width: 390px) {
  html,
  body {
    font-size: 12px;
  }
}
