.container {
  display: flex;
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
}
.viewer {
  display: flex;
  width: 100%;
  .spaceViewer {
    position: relative;
    width: 100%;
    flex: 1;
  }
}
