@import '/src/styles/variables.scss';
@import '/src/styles//mixin.scss';
.conatiner {
  display: flex;
  padding-top: 2rem;
  input.searchBar {
    @include input;
    flex: 1;
    height: 42px;
    border-radius: $radius;
    margin-right: 2rem;
    padding: 1rem;
    &::placeholder {
      color: $gray-2;
    }
  }
  button.btn {
    @include button($jober-blue, red, $black);
    width: 60px;
    background-color: $gray-light-2;
    border-radius: $radius;
    white-space: nowrap;
  }
}
