@import '/src/styles/variables.scss';
@import '/src/styles//mixin.scss';

.container {
  min-height: 19.9rem;
  margin: 2rem 0;
  background-color: $white;
  border-radius: 0.5rem;
  .profile {
    h1 {
      margin-bottom: 1rem;
    }
    p {
      color: $gray-2;
    }
    padding: 1.8rem 2.6rem;
  }
  .buttonCover {
    @include flex(column, null, center);
    padding: 0 1.8rem 1.8rem 1.8rem;
    button,
    a {
      width: 100%;
      max-width: 48rem;
      height: 60px;
      border-radius: 0.5rem;
      cursor: pointer;
    }
    .mySpaceBtn {
      @include button;
      text-align: center;
      line-height: 60px;
      margin-bottom: 1rem;
    }
    .addSpaceBtn {
      @include flex(row, center, center);
      @include button-nomal;
      border: 1.5px solid $gray;
      background-color: $white;
      height: 3.5rem;
      img {
        margin-right: 0.5rem;
      }
      transition: all 200ms ease-in-out;
      &:hover {
        border: 1px solid $jober-blue;
      }
    }
  }
}
