@import '/src/utils.scss';

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  // * 스크린 사이즈에 상관 없이 14px로 고정합니다.
  font-size: 14px;
}
.container {
  width: 100%;
  height: 100%;

  .formBox {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-grow: 1;

    .forms {
      padding: 0 20px 0 20px;
    }

    .formText {
      margin-top: 30px;
    }
  }
}
