.container {
  position: sticky;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 2rem;
  width: 224px;
  height: 50px;
  border: 1px solde block;
  border-radius: 0.5rem;
  margin: auto;
  z-index: 25;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  transition: opacity 500ms ease-in-out;
  .item {
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
  }
}
// * Animation
.hidden {
  // bottom: -100px;
  animation: hiddenAnimation 500ms ease-in-out;
  animation-fill-mode: forwards;
}
.visible {
  animation: visibleAnimation 500ms ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes hiddenAnimation {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0;
    height: 50px;
  }
  100% {
    opacity: 0;
    height: 0px;
  }
}
@keyframes visibleAnimation {
  0% {
    bottom: -10rem;
    opacity: 0;
    height: 50px;
  }
  70% {
    bottom: 1rem;
  }
  100% {
    opacity: 1;
  }
}
