.addButton {
  width: 100%;
  display: flex;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 100;
  font-size: 2.5rem;
  height: 5.3125rem;
  align-items: center;
  border-radius: 0.375rem;
  justify-content: center;
  border: solid 0.0625rem #e2e6ef;
  p {
    display: flex;
    transition: 0.3s;
    color: #e2e6ef;
    padding-bottom: 6px;
  }
}

.addButton:hover {
  border: solid 0.0625rem #4c61ff;
  p {
    color: #4c61ff;
  }
}

.thumbnailVideo {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  width: 5.3125rem;
  height: 5.3125rem;
  position: relative;
  border-radius: 0.25rem;
  background-color: transparent;
  border-color: transparent;
  img {
    display: flex;
    // width: auto;
    height: auto;
  }
  .minus {
    inset: 0;
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
}

.thumbnailVideo:hover {
  .minus {
    display: flex;
    background-color: rgba(0, 0, 0, 0.477);
    svg {
      font-size: 1.25rem;
      border-radius: 100%;
      background-color: white;
    }
  }
}
