.container {
  width: 100%;
  height: auto;
  display: flex;
}

.addImgButton {
  width: 100%;
  display: flex;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 100;
  height: 5.3125rem;
  align-items: center;
  border-radius: 0.375rem;
  justify-content: center;
  border: solid 0.0625rem #000000;
}

.formBox {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;

  .forms {
    padding: 0 1.25rem 0 1.25rem;
  }

  .formText {
    margin-top: 1.875rem;
  }
}

.forms input[type='text'] {
  display: flex;
  width: 100%;
  height: 3.375rem;
  font-size: 1rem;
  border-radius: 0.375rem;
  padding-left: 0.875rem;
  border: solid 0.0625rem #e2e6ef;
  &::placeholder {
    color: #e2e6ef;
  }
}

.thumbnailImg {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  width: 5.3125rem;
  height: 5.3125rem;
  position: relative;
  border-radius: 0.25rem;
  img {
    width: auto;
    height: auto;
  }
  .minus {
    inset: 0;
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
}

.thumbnailImg:hover {
  .minus {
    display: flex;
    color: #ff0606;
  }
}

.inputbox {
  position: relative;
  .delTitle {
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    width: 3rem;
    position: absolute;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    svg {
      font-size: 1.5rem;
      color: #aeb9d1;
    }
  }
}
