.container {
  width: 100%;
  height: auto;
  display: flex;
}

h3 {
  display: flex;
}

input {
  display: flex;
}

.formTexts {
  padding-top: 14px;
}

.formBox {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  .forms {
    padding: 0 1.25rem 0 1.25rem;
  }
}

.forms input[type="text"] {
  display: flex;
  width: 100%;
  height: 3.375rem;
  font-size: 1rem;
  border-radius: .375rem;
  padding-left: .875rem;
  border: solid .0625rem #e2e6ef;
  &::placeholder {
    color: #e2e6ef;
  }
}

.inputbox {
  position: relative;
  .delTitle, .delLink {
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    width: 30px;
    position: absolute;
    align-items: center;
    cursor: pointer;
    svg {
      font-size: 1.25rem;
      color: #aeb9d1;
    }
  }
}