.container {
  width: 100%;
  height: auto;
  display: flex;
}

h3 {
  display: flex;
}

input {
  display: flex;
}

.formTexts {
  padding-top: 14px;
}

.formBox {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  .forms {
    padding: 0 1.25rem 0 1.25rem;
  }
}
