.container {
  width: 100%;
  height: auto;
  display: flex;
}

.formTexts {
  padding-top: 0.875rem;
}

.formBox {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  .forms {
    padding: 0 1.25rem 0 1.25rem;
    h3 {
      display: flex;
    }
  }
}

.forms input[type='text'] {
  width: 100%;
  border: none;
  outline: none;
  display: flex;
  font-size: 1rem;
  margin-left: 1rem;
  &::placeholder {
    color: #e2e6ef;
  }
}

.inputbox {
  width: 100%;
  display: flex;
  height: 3.375rem;
  overflow: hidden;
  position: relative;
  border-radius: 0.375rem;
  border: solid 0.0625rem #e2e6ef;
  .delTitle,
  .delLink {
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    width: 3rem;
    position: absolute;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    svg {
      font-size: 1.5rem;
      color: #aeb9d1;
    }
  }
}
