@import '/src/variables.scss';
.container {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  height: 100%;
  h2 {
    margin: 0;
  }
  .templateSettingContainer {
    border-bottom: 2px solid $cool-grey1;
    padding-bottom: 1.25rem;
  }
  .userSettingContainer {
    flex: 1;
    h2 {
      margin-top: 1.25rem;
    }
  }

  .inputCover {
    padding-top: 1.25rem;
    p {
      margin: 0;
      padding-bottom: 0.5rem;
    }
    .split {
      display: flex;
      justify-content: space-between;
    }
  }
}
