@import '../../variables.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  li {
    padding: 0.2rem 0;
  }
  .formContainer {
    padding: 0 20px 0 20px;
    .label {
      color: $base-black;
    }
    .editorContainer {
      height: 200px;
      margin-top: 10px;
      &.opened {
        width: 100%;
        height: calc(100% - 56.8px);
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}
