.container {
  width: 100%;
  height: auto;
  display: flex;
}

.addVideoButton {
  width: 100%;
  display: flex;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 100;
  height: 5.3125rem;
  align-items: center;
  border-radius: 0.375rem;
  justify-content: center;
  border: solid 0.0625rem #000000;
}

.thumbnailVideo {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  width: 5.3125rem;
  height: 5.3125rem;
  position: relative;
  border-radius: 0.25rem;
  img {
    width: auto;
    height: auto;
  }
  .minus {
    inset: 0;
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
  }
}

.thumbnailVideo:hover {
  .minus {
    display: flex;
    background-color: white;
  }
}

.checkbox {
  display: flex;
  &:last-child {
    margin-top: 14px;
  }
}

.formBox {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  .forms {
    padding: 0 1.25rem 0 1.25rem;
  }

  .forms input[type='text'] {
    display: flex;
    width: 100%;
    height: 3.375rem;
    font-size: 1rem;
    border-radius: 0.375rem;
    padding-left: 0.875rem;
    border: solid 0.0625rem #e2e6ef;
    &::placeholder {
      color: #e2e6ef;
    }
  }

  .inputbox {
    position: relative;
    .delete {
      top: 0;
      bottom: 0;
      right: 0;
      display: flex;
      width: 30px;
      position: absolute;
      align-items: center;
      background-color: transparent;
      border-color: transparent;
      cursor: pointer;
      svg {
        font-size: 1.25rem;
        color: #aeb9d1;
      }
    }
  }

  .radios {
    display: flex;
    margin-right: 0.5rem;
    margin-bottom: 4px;
  }
}
